@model AccesoDatos.producto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>producto</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id_producto)
    
            <div class="form-group">
                @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre)
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.precio, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precio)
                    @Html.ValidationMessageFor(model => model.precio)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion)
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.id_almacen, "id_almacen", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_almacen", String.Empty)
                    @Html.ValidationMessageFor(model => model.id_almacen)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.id_categoria, "id_categoria", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_categoria", String.Empty)
                    @Html.ValidationMessageFor(model => model.id_categoria)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
