@model AccesoDatos.permisos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>permisos</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id_permiso)
    
            <div class="form-group">
                @Html.LabelFor(model => model.id_rol, "id_rol", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_rol", String.Empty)
                    @Html.ValidationMessageFor(model => model.id_rol)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.id_modulo, "id_modulo", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_modulo", String.Empty)
                    @Html.ValidationMessageFor(model => model.id_modulo)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.escritura, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.escritura)
                    @Html.ValidationMessageFor(model => model.escritura)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.lectura, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lectura)
                    @Html.ValidationMessageFor(model => model.lectura)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.modificar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modificar)
                    @Html.ValidationMessageFor(model => model.modificar)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.eliminar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.eliminar)
                    @Html.ValidationMessageFor(model => model.eliminar)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
